{% set link = heading|replace({' ': '-'}) %}
<div class="card card-foldable">
  <div class="card-header">
    <h4>
      <a id="{{ heading }}" class="collapsed" data-toggle="collapse" href="#{{ link|lower }}" role="button"
         aria-expanded="false" aria-controls="{{ heading }}">{{ heading }}
        <span class="fas fa-chevron-up"></span>
      </a>
    </h4>
  </div>
  <div id="{{ link|lower }}" class="collapse card-body" aria-labelledby="{{ heading }}">
    {{ body_text|raw }}
  </div>
</div>

