{#
/**
 * @file
 * Template for a block.
 */
#}
{% set classes = [
  'row',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
{% set class_layout = content['#view_mode'] == 'landscape' ? 'uds-card-arrangement-vertical'%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ content.field_anchor_menu_settings }}
  {{ content.field_tooltip }}
  {% block content %}
    {% include '@renovation/cards/card-arrangement.twig' with {
      heading: content.field_heading,
      cta: content.field_cta,
      text: content.field_formatted_text[0],
      cards: content.field_card_group,
      class_layout: class_layout
    } %}
  {% endblock %}

</div>
