{% set classes = [
  'block',
  'field-title-block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}


<div {{ attributes|without('id').addClass(classes) }}>
  <div class="container">
    {{ title_prefix }}
    {% if label %}
      {% block label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endblock %}
    {% endif %}
    {{ title_suffix }}

    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>

