<div class="banner {{ background_color }}" role="banner">
  <div class="banner-icon">
    {{ icon }}
  </div>
  <div class="banner-content">
    {{ heading }}
    {{ banner_text }}
  </div>
  <div class="banner-buttons">
    {{ cta }}
  </div>
  <div class="banner-close">
    <button type="button" id="btn-close" class="fa-layers fa-fw fa-2x" style="background-color: transparent; border:none;">
    <i class="fas fa-circle" style="color:white"></i>
    <i class="fas fa-times" data-fa-transform="shrink-6"></i>
  </button>
  </div>
</div>

{{ attach_library('renovation/banner') }}
